[submodule "vim/.vim/vendored/vundle"]
	path = vim/.vim/vendored/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "fish/.config/fish/virtualfish"]
	path = fish/.config/fish/virtualfish
	url = git@github.com:adambrenecki/virtualfish.git
