Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

rofi.background: #073642
rofi.foreground: #eee8d5
rofi.highlightbg: #b58900
rofi.highlightfg: #ffffff
rofi.bordercolor: #678698
rofi.padding: 1
rofi.lines: 10
rofi.borderwidth: 1
rofi.opacity: 100
rofi.font: Inconsolata 10
rofi.location: 7
rofi.yoffset: 0
rofi.xoffset: 0
rofi.width: 100
rofi.fixed_num_lines: 1
rofi.hmode: false
